html {
  height: 100%;
}

body {
  font-family: "Press Start 2P";
  height: 100%;
  margin: 0;
}

/* #header {
  height: 30px;
  display: flex;
  align-items: center;
  background: linear-gradient(#444444, #333333);
  color: #bbbbbb;
}

#headerContent {
  margin-left: 10px;
} */

#page {
  display: flex;
  height: calc( 100vh - 30px);
}

.side-bar-wrapper {
  width: 20vw;
  float: left;
  margin: 1vh 1vw;
}

#content {
  padding: 1vh;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

.App-title {
  text-decoration: none;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  margin-bottom: 5vh;
}

.App-link {
  color: #09d3ac;
}

.user-form {
  max-width: 50vw;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-form {
  max-width: 25vw;
}

.toggle-form {
  display: flex;
  justify-content: left;
  
}

.body-container {
  display: flex;
  flex-direction: row;
}

button input {
  color: white;
  background-color: Transparent;
  border-style: none;
}

.challenge-input {
  width: inherit;
  font-size: x-large;
}

#balloony {
  float: right;
}

.chat-bot {
  display: inline-table;
}

.is-clickable:hover {
  cursor: pointer;
}

/* #completed-words {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 50px;
}

#prompt {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  height: 50px;
} */
